:root {
    --primario: #f46669;
    --secundario: #c7c57d;
    --gris: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*preload*/

.hidden {
    overflow: hidden;
}

.centrado {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgb(252, 250, 250);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ldio-3djifah65zu div {
    position: absolute;
    animation: ldio-3djifah65zu 1s linear infinite;
    margin-top: 3rem;
    margin-left: 2rem;
    width: 80px;
    height: 80px;
    top: 65px;
    left: 80px;
    border-radius: 50%;
    box-shadow: 0 4px 0 0 rgb(52, 126, 160);
    transform-origin: 40px 41px;
}

.loadingio-spinner-eclipse-49d42k6b6kb {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: transparent;
}

.ldio-3djifah65zu {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.6);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-3djifah65zu div {
    box-sizing: content-box;
}

@keyframes ldio-3djifah65zu {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.oculto {
    display: none;
}


/*header*/

header {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.477), rgba(0, 0, 0, 0.64)), url(img/pexels.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.logo {
    max-width: 150px;
    padding-left: 10px;
    margin-top: -10px;
}

.enlace ul a {
    margin-top: 12px;
    color: rgb(52, 126, 160);
    text-decoration: none;
    padding: 0 3px 3px 3px;
}

.enlace ul a:hover {
    border-bottom: 2px solid white;
}

.banner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #eef3f7;
    overflow: hidden;
    text-align: center;
}

.principal {
    height: 1000px;
}

.aside {
    height: 1000px;
    background-color: wheat;
}

.active {
    font-weight: 700 !important;
}


/*nav*/

#mainNav {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 1);
    transition: background-color 1s ease;
}

#mainNav .navbar-brand {
    font-weight: 700;
    color: #212529;
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: #6c757d;
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0.75rem 0;
}

#mainNav .navbar-nav .nav-item .nav-link:hover,
#mainNav .navbar-nav .nav-item .nav-link:active {
    color: #37ad68;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
    color: #37ad68 !important;
}


/*Texto*/

.contenido {
    margin: 0 auto;
}

.dark {
    padding: 8rem 0 2rem 0;
    font-size: 24px;
    color: #8d8d8d;
}

.compañia {
    margin-bottom: 2rem;
}


/*Animar*/

.animar {
    opacity: 0;
    transition: all 0.5s;
}

.aparece {
    opacity: 1;
}

.mostrarArriva {
    animation: mostrarArriva 900ms;
}

@keyframes mostrarArriva {
    0% {
        transform: translateY(120px);
    }
    100% {
        transform: translateY(0);
    }
}


/*Responsabilidad */

.imagen img {
    margin-top: -3.4rem;
    border-radius: 10px 10px;
}

#resposabilidad {
    height: 120px;
}

.bg-casur {
    background-color: rgba(254, 205, 114, 0.836);
}

.Responsabilidad {
    margin-bottom: 5rem !important;
}

p {
    font-size: 18px;
}


/*estadisticas*/

.estadisticas {
    padding: 2rem;
}

.estadisticas img {
    width: 50px;
    height: 50px;
    margin-bottom: 0.7rem;
    margin-top: 1rem;
}

.contador {
    font-size: 1.5rem;
    color: #6e6e6e;
}


/*Certificados*/

.Certificaciones {
    height: 500px;
}

.card-group .card {
    justify-content: center;
    border: none;
}

.card img {
    border-radius: 10px !important;
    box-shadow: 0 0 10px 0;
    margin-top: -5rem;
}


/*footer*/

footer {
    position: relative;
}

.footerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(18, 167, 70, 0.87);
}

.footerBox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: white;
}

.contenedor {
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 100;
}

.contenedor .contactInfo {
    position: absolute;
    width: 350px;
    top: 40px;
    height: calc(100% - 80px);
    background-color: rgba(18, 167, 70, 0.87);
    z-index: 1;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.418) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contenedor .contactInfo h2 {
    color: white;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.contenedor .contactInfo ul.info {
    position: relative;
    margin: 20px 0;
}

.contenedor .contactInfo ul.info li {
    list-style: none;
    position: relative;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

.contenedor .contactInfo ul.info li span:nth-child(1) {
    width: 35px;
    min-width: 35px;
}

.contenedor .contactInfo ul.info li span:nth-child(1) img {
    max-width: 100%;
    filter: invert(1);
}

.contenedor .contactInfo ul.info li span:nth-child(2) {
    color: #ffffff;
    font-weight: 300;
    margin-left: 15px;
}

.contenedor .contactInfo ul.sci {
    position: relative;
    display: flex;
}

.contenedor .contactInfo ul.sci li {
    list-style: none;
    margin-right: 15px;
}

.contenedor .contactInfo ul.sci li a {
    text-decoration: none;
}

.contenedor .contactInfo ul.sci li img {
    filter: invert(1);
}

.contenedor .contactForm {
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.342) 0px 5px 15px;
}

.contenedor .contactForm h2 {
    color: rgba(18, 167, 70, 0.87);
    font-size: 24;
    font-weight: 500;
}

.contenedor .contactForm .formBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.contenedor .contactForm .formBox .inputBox {
    margin-top: 25px;
    position: relative;
}

.contenedor .contactForm .formBox .inputBox.w50 {
    width: 47%;
}

.contenedor .contactForm .formBox .inputBox.w100 {
    width: 100%;
}

.contenedor .contactForm .formBox .inputBox input,
.contenedor .contactForm .formBox .inputBox textarea {
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: rgba(36, 36, 36, 0.63);
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
}

.contenedor .contactForm .formBox .inputBox textarea {
    height: 120px;
}

.contenedor .contactForm .formBox .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
}

.contenedor .contactForm .formBox .inputBox input:focus~span,
.contenedor .contactForm .formBox .inputBox input:valid~span,
.contenedor .contactForm .formBox .inputBox textarea:valid~span,
.contenedor .contactForm .formBox .inputBox textarea:focus~span {
    transform: translateY(-22px);
    font-size: 14px;
    font-weight: 400;
    color: rgba(18, 167, 70, 0.87);
    letter-spacing: 1px;
}

.contenedor .contactForm .formBox .inputBox input[type="submit"] {
    position: relative;
    cursor: pointer;
    background: rgba(18, 167, 70, 0.87);
    color: #ffffff;
    border: none;
    max-width: 150px;
    padding: 12px;
}

.contenedor .contactForm .formBox .inputBox input[type="submit"]:hover {
    background: rgba(75, 214, 124, 0.87);
    transition: 1s ease;
}

@media (max-width: 1200px) {
    .contenedor {
        width: 90%;
        min-width: auto;
        margin: 20px;
        box-shadow: rgba(0, 0, 0, 0.438) 0px 5px 15px;
    }
    .contenedor .contactInfo {
        top: 0;
        height: 550px;
        position: relative;
        box-shadow: none;
    }
    .contenedor .contactForm {
        position: relative;
        width: calc(100% - 350px);
        padding-left: 0;
        margin-left: 0;
        padding: 40px;
        height: 550px;
        box-shadow: none;
    }
}

@media (max-width:991px) {
    .footerBox {
        background: rgba(255, 255, 255, 0.87);
    }
    .footerBox::before {
        display: none;
    }
    .contenedor {
        display: flex;
        flex-direction: column-reverse;
    }
    .contenedor .contactInfo {
        width: 100%;
        height: auto;
        flex-direction: row;
    }
    .contenedor .contactForm {
        width: 100%;
        height: auto;
    }
    .contenedor .contactInfo ul.sci {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: baseline;
    }
}

@media (max-width:600px) {
    .contenedor .contactForm {
        padding: 25px;
    }
    .contenedor .contactInfo {
        flex-direction: column;
        padding: 25px;
        align-items: flex-start;
    }
    .contenedor .contactInfo ul.sci {
        margin-top: 40px;
    }
    .contenedor .contactForm .formBox .inputBox.w50 {
        width: 90%;
    }
}

@media (min-width: 992px) {
    #mainNav {
        box-shadow: none;
        background-color: transparent;
    }
    #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0.7);
    }
    #mainNav .navbar-brand:hover {
        color: rgba(255, 255, 255, 1);
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        color: rgba(255, 255, 255, 0.7);
        padding: 0 1rem;
    }
    #mainNav .navbar-nav .nav-item .nav-link:hover {
        color: rgba(255, 255, 255, 1);
    }
    #mainNav .navbar-nav .nav-item:last-child .nav-link {
        padding-right: 0;
    }
    #mainNav.navbar-scrolled {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        background-color: rgba(255, 255, 255, 1);
    }
    #mainNav.navbar-scrolled .navbar-brand {
        color: #212529;
    }
    #mainNav.navbar-scrolled .navbar-brand:hover {
        color: #37ad68;
    }
    #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
        color: #212529;
    }
    #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
        color: #37ad68;
    }
}

@media (max-width: 878px) {
    .compañia .dark {
        font-size: 20px;
        margin: 3rem;
        padding-right: 20px;
    }
    .imagen img {
        margin: 0 auto !important;
    }
    .Certificaciones {
        height: auto;
    }
    #resposabilidad {
        height: 0px;
    }
}

@media only screen and (max-width: 550px) {
    .compañia .dark {
        font-size: 17px;
        padding-top: 2rem;
        margin: 20px 0 0 0!important;
    }
    p {
        text-align: center;
    }
    .card-group {
        align-items: center;
    }
    .card {
        width: 100% !important;
    }
    .card img {
        width: 100%;
        margin: 0 !important;
    }
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 23px;
    }
    .footer .redes-sociales>i {
        font-size: 1.5rem;
        margin: 0 auto !important;
    }
    .ldio-3djifah65zu div {
        left: 75px;
    }
}